.navbar {
  margin-top: 2rem;
  margin-bottom: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.navbar > h2 {
  font-size: 2.5rem;
}
.navbar-main {
  min-width: 100vw;
  margin-bottom: 0 !important;
}
